node_modules
.next/
.vscode/
.env.local
.venv/
.env.production
src/src/.DS_Store
venv/lib/python3.12/site-packages/dotenv/__pycache__/variables.cpython-312.pyc
venv/lib/python3.12/site-packages/dotenv/__pycache__/variables.cpython-312.pyc
